.dashboard{

min-height:100vh;

padding:120px 50px 50px;

position:relative;

overflow:hidden;

background:

linear-gradient(
180deg,
#05060B,
#090B14
);

color:white;

font-family:Inter,sans-serif;

}

.blob{

position:absolute;

border-radius:50%;

filter:blur(150px);

}

.purple{

width:450px;
height:450px;

background:#7B61FF;

top:-100px;
left:-100px;

opacity:.25;

}

.blue{

width:400px;
height:400px;

background:#4D7CFE;

bottom:0;
right:-100px;

opacity:.18;

}

.glass{

background:rgba(255,255,255,.04);

backdrop-filter:blur(35px);

border:1px solid rgba(255,255,255,.08);

box-shadow:

0 8px 40px rgba(123,97,255,.15);

border-radius:30px;

padding:30px;

}

.dashboard-grid{

display:grid;

grid-template-columns:320px 1fr;

gap:30px;

}

.left-column{

display:flex;

flex-direction:column;

gap:20px;

}

.right-column{

display:flex;

flex-direction:column;

gap:20px;

}

.profile-avatar{

width:70px;
height:70px;

border-radius:50%;

display:flex;

justify-content:center;
align-items:center;

font-size:30px;

font-weight:bold;

background:linear-gradient(
135deg,
#7B61FF,
#4D7CFE
);

}

.profile-data{

margin-top:25px;

line-height:2.5;

}

.primary-btn{

width:100%;

margin-top:25px;

padding:14px;

background:#7B61FF;

border:none;

border-radius:14px;

color:white;

cursor:pointer;

}

.input{

padding:12px;

background:#10131D;

border:none;

border-radius:12px;

color:white;

}

.edit-container{

display:flex;

flex-direction:column;

gap:12px;

margin-top:20px;

}

.chart-header{

display:flex;

justify-content:space-between;

margin-bottom:20px;

}

.dropdowns{

display:flex;

gap:10px;

}

.nutrition-grid{

display:grid;

grid-template-columns:repeat(5,1fr);

gap:15px;

}

.loading{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#05060B;

color:white;

}

.muted{

color:#9CA3AF;
}

.stats{

margin-top:20px;

line-height:2;
}


.subtitle{
    margin-bottom:10px;
}