.training-page{

min-height:100vh;

padding:120px 40px 40px;
background:#03040c;
color:white;
position:relative;
overflow:hidden;

}

.blob{

position:absolute;
border-radius:50%;
filter:blur(130px);

}

.blob1{

height:350px;
width:350px;
background:#682bff;
left:-100px;
top:300px;

}

.blob2{

height:400px;
width:400px;
background:#243bff;
right:-150px;
top:100px;

}

.blob3{

height:250px;
width:250px;
background:#892dff;
right:200px;
bottom:50px;

}

.glass{

background:
rgba(
255,
255,
255,
0.04
);

backdrop-filter:
blur(20px);

border:

1px solid
rgba(
255,
255,
255,
0.08
);

}

.nav{

width:650px;
margin:auto;

display:flex;

justify-content:
space-around;

padding:20px;

border-radius:50px;

margin-bottom:50px;

}

.active{

color:#7b61ff;

}

.logout{

color:#ff6666;

}

.top-section{

display:flex;
gap:25px;

}

.split-card{

width:250px;
padding:30px;
border-radius:30px;

display:flex;
flex-direction:column;
gap:20px;

}

.split-card select{

padding:15px;
border-radius:15px;
background:#10111d;
color:white;

border:none;

}

.split-card button{

height:50px;

border:none;

border-radius:15px;

background:

linear-gradient(
90deg,
#7b61ff,
#4169ff
);

color:white;

}

.hero-card{

flex:1;

padding:30px;

border-radius:30px;

display:flex;

justify-content:
space-between;

align-items:center;

}

.timer-circle{

width:150px;
height:150px;

border-radius:50%;

border:6px solid #7b61ff;

display:flex;

justify-content:center;
align-items:center;

font-size:30px;

}

.carousel-container{

overflow:hidden;
margin-top:50px;

}

.embla__container{

display:flex;
gap:30px;

}

.exercise-card{

flex:0 0 50%;

border-radius:35px;

padding:30px;

}

.table-head,
.set-row{

display:grid;

grid-template-columns:
1fr
1fr
1fr;

margin-top:25px;

}

.set-row input{

height:45px;

background:#111421;

border:none;

border-radius:15px;

color:white;

padding-left:10px;

}

.add-set{

width:100%;
height:50px;

margin-top:30px;

background:transparent;

border:

1px dashed
#7b61ff;

color:#7b61ff;

border-radius:20px;

}

.add-exercise{

width:100%;
height:65px;

margin-top:30px;

background:transparent;

border:

1px dashed
#7b61ff;

color:white;

border-radius:20px;

}

.summary{

display:flex;

justify-content:
space-around;

margin-top:50px;

padding:30px;

border-radius:30px;

}

.finish{

width:100%;

height:70px;

margin-top:40px;

font-size:24px;

border:none;

border-radius:25px;

background:

linear-gradient(
90deg,
#7b61ff,
#4169ff
);

color:white;

}

@media(max-width:900px){

.top-section{

flex-direction:column;

}

.exercise-card{

flex:0 0 90%;

}

.summary{

flex-direction:column;
gap:20px;

}

}

.workout-info{

display:flex;
flex-direction:column;
gap:18px;

}

.hero-row{

display:flex;

gap:20px;

align-items:center;

font-size:18px;

color:white;

}

.label{

width:100px;

opacity:.55;

font-weight:500;

}

.create-form{

display:flex;
flex-direction:column;
gap:10px;
margin-top:15px;

}

.create-form input{

padding:12px;
border:none;
outline:none;
border-radius:12px;

background:rgba(
255,
255,
255,
0.08
);

color:white;

}

.create-form button{

padding:12px;

border:none;

border-radius:12px;

cursor:pointer;

background:linear-gradient(
90deg,
#7B61FF,
#4D79FF
);

color:white;

}